<!DOCTYPE html>
<html>
<head>
    <title>Pill AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    <h1>Pill Identification</h1>

    <form method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <button type="submit">Predict</button>
    </form>

    {% if results %}
        <div class="result">
            <h2>Top 3 thuốc giống nhất</h2>

            {% for item in results %}
                <div class="pill-card">
                    <h3>Mã thuốc: {{ item.pill_code }}</h3>
                    <p><strong>Nhãn đầy đủ:</strong> {{ item.full_label }}</p>
                    <p><strong>Độ tương đồng:</strong> {{ item.score }}%</p>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>

</body>
</html>